.container{
    max-height: 300px;
    width: 400px;
}
.variant{
    display: flex;
    height: 30px;
    align-items: center;
}
.variant:hover{
    background: #c7c7c7 !important;
}
.choose{
    background: #a1a1a1;
}
.autocomplete{
    width: 98%;
}
