.container{
    max-height: 300px;
    width: 400px;
    border: 1px solid black;
    overflow: auto;
}
.variant{
    display: flex;
    height: 30px;
    align-items: center;
    border-top: 1px solid black;
}
.choose{
    background: #a1a1a1;
}
